@model EgitimOrg.Entity.ViewModel.ChatRoomModel

@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_LayoutAutomation.cshtml";
}
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        @Html.Partial("/Views/Student/PartialSidebar.cshtml")
        <!-- sidebar menu end-->
    </div>
</aside>
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <div class="chat-room mt">
            <aside class="mid-side">
                <div class="chat-room-head">
                    <h3>Mesajlaşma</h3>
                    <form action="#" class="pull-right position">
                        <input type="text" placeholder="Search" class="form-control search-btn ">
                    </form>
                </div>
                <div class="pre-scrollable" style="min-height:75vh">
                    <div class="group-rom">
                        <div class="first-part odd">Kubilay</div>
                        <div class="second-part">Hi Mark, have a minute?</div>
                        <div class="third-part">12:30</div>
                    </div>
                    <div class="group-rom">
                        <div class="first-part">Mark Simmons</div>
                        <div class="second-part">Of course Sam, what you need?</div>
                        <div class="third-part">12:31</div>
                    </div>
                    <div class="group-rom">
                        <div class="first-part odd">Sam Soffes</div>
                        <div class="second-part">I want you examine the new product</div>
                        <div class="third-part">12:32</div>
                    </div>
                    <div class="group-rom">
                        <div class="first-part">Mark Simmons</div>
                        <div class="second-part">Ok, send me the pic</div>
                        <div class="third-part">12:32</div>
                    </div>
                    <div class="group-rom">
                        <div class="first-part odd">Sam Soffes</div>
                        <div class="second-part">
                            <a href="#">product.jpg</a> <span class="text-muted">35.4KB</span>
                            <p><img class="img-responsive" src="img/product.jpg" alt=""></p>
                        </div>
                        <div class="third-part">12:32</div>
                    </div>
                    <div class="group-rom">
                        <div class="first-part">Mark Simmons</div>
                        <div class="second-part">Fantastic job, love it :)</div>
                        <div class="third-part">12:32</div>
                    </div>
                    <div class="group-rom last-group">
                        <div class="first-part odd">Sam Soffes</div>
                        <div class="second-part">Thanks!!</div>
                        <div class="third-part">12:33</div>
                    </div>
                    <div class="group-rom">
                        <div class="first-part odd">Sam Soffes</div>
                        <div class="second-part">Hi Mark, have a minute?</div>
                        <div class="third-part">12:30</div>
                    </div>
                    <div class="group-rom">
                        <div class="first-part">Mark Simmons</div>
                        <div class="second-part">Of course Sam, what you need?</div>
                        <div class="third-part">12:31</div>
                    </div>
                    <div class="group-rom">
                        <div class="first-part odd">Sam Soffes</div>
                        <div class="second-part">I want you examine the new product</div>
                        <div class="third-part">12:32</div>
                    </div>
                    <div class="group-rom">
                        <div class="first-part">Mark Simmons</div>
                        <div class="second-part">Ok, send me the pic</div>
                        <div class="third-part">12:32</div>
                    </div>
                    <div class="group-rom">
                        <div class="first-part odd">Sam Soffes</div>
                        <div class="second-part">
                            <a href="#">product.jpg</a> <span class="text-muted">35.4KB</span>
                            <p><img class="img-responsive" src="img/product.jpg" alt=""></p>
                        </div>
                        <div class="third-part">12:32</div>
                    </div>
                    <div class="group-rom">
                        <div class="first-part">Mark Simmons</div>
                        <div class="second-part">Fantastic job, love it :)</div>
                        <div class="third-part">12:32</div>
                    </div>
                    <div class="group-rom last-group">
                        <div class="first-part odd">Sam Soffes</div>
                        <div class="second-part">Thanks!!</div>
                        <div class="third-part">12:33</div>
                    </div>
                </div>
                <footer>
                    <div class="chat-txt">
                        <input type="text" class="form-control">
                    </div>
                    <div class="btn-group hidden-sm hidden-xs">
                        <button type="button" class="btn btn-white"><i class="fa fa-meh-o"></i></button>
                        <button type="button" class="btn btn-white"><i class=" fa fa-paperclip"></i></button>
                    </div>
                    <button class="btn btn-theme">Gönder</button>
                </footer>
            </aside>
            @Html.HiddenFor(model=>model.Uid,new { @id="Usid"})
            <aside class="right-side">
                <div class="user-head">
                    <a href="#" class="chat-tools btn-theme"><i class="fa fa-cog"></i> </a>
                    <a href="#" class="chat-tools btn-theme03"><i class="fa fa-key"></i> </a>
                </div>
                <div class="invite-row">
                    <h4 class="pull-left">Sınıf Üyeleri</h4>
                    <a href="#" class="btn btn-theme04 pull-right">Davet</a>
                </div>
                <ul class="chat-available-user">
                    @foreach (EgitimOrg.Entity.Entity.Student item in Model.Students)
                    {
                        <li>
                            <a data-id="@item.UserId" class="btn btn-default messagebox" style="width:90%;height:55px;text-align:left">
                                <img class="img-circle" src="~/images/Users/@item.User.Picture" width="32">
                                &nbsp;&nbsp;<span> @item.Name @item.Surname</span>
                                @*<span class="text-muted">1h:02m</span>*@
                            </a>
                        </li>
                    }
                </ul>
            </aside>
        </div>
        <!-- page end-->
    </section>
    <!-- /wrapper -->
</section>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".messagebox").click(function () {
            var FriendId = $(this).data("id");
            var UserId = $("#Usid").val();
            console.log(FriendId);
            console.log(UserId);
        });
    });
</script>